.container .mat-form-field+.mat-form-field {
  margin-left: 8px;
}

.mat-form-field {

  display: inline;
}

.example-right-align {
  text-align: right;
}

.container {
  display: -moz-box;
  flex-direction: column;
  padding: 10px;
  border: 1px solid rgb(237, 236, 241);
  height: max-content;
  width: max-content;
  border-style: solid;
  margin: auto;

}

.mat-mdc-form-field {
  width: auto;
  display: inline;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: min-content;
  height: max-content;
  margin: auto;
  position: absolute;
  /* position the card goes with top, bottom, left, and right properties */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: rgb(237, 236, 241);
  border-radius: 15px;
}

/* On mouse-over, add a deeper shadow */
/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  border: 1px solid rgb(31, 31, 31);
  border-radius: 15px;
}