.listing-photo {
  height: 600px;
  width: 50%;
  object-fit: cover;
  border-radius: 30px;
  float: right;
}

.listing-heading {
  font-size: 30pt;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.listing-location::before {
  content: url('/assets/location-pin.svg') / '';

}

.listing-location {
  font-size: 24pt;
  margin-bottom: 15px;
}

.listing-features>.section-heading {
  color: var(--secondary-color);
  font-size: 24pt;
  margin-bottom: 15px;
}

.listing-features {
  margin-bottom: 20px;
}

.listing-features li {
  font-size: 14pt;
}

li {
  list-style-type: none;
}

.listing-apply .section-heading {
  font-size: 18pt;
  margin-bottom: 15px;
}

label,
input {
  display: block;
}

label {
  color: var(--secondary-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12pt;
}

input {
  font-size: 16pt;
  margin-bottom: 15px;
  padding: 10px;
  width: 400px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid .3px;
}

.listing-wrapper {
  width: max-content;
  height: max-content;
  border: solid 2px;
  border-color: rgb(0, 113, 199);
  border-radius: 15px;
}

#back {

  position: absolute;
  top: 5%;
  right: 1%;
  width: 100px;
  background-color: rgb(7, 77, 117);
  color: white;
  border-radius: 15px;
}

#btn_apply {
  background-color: rgb(7, 77, 117);
  color: white;
  border-radius: 15px;
}